{% include base_path %}

<div id="timeline">
  <div class="timelineitem">
    <div class="tdate">2015 - 2018</div>
    <h3 class="ttitle">ANU Computer Science PhD student</h3>
    <div class="tdesc">Robotic Vision (with emphasis on Deep Learning and combining Vision and Language). 
      Part of the <a href="http://roboticvision.org" target="_blank">ACRV</a>, supervised by 
      <a href="http://users.cecs.anu.edu.au/~sgould/" target="_blank">Stephen Gould</a>.
    </div>
  </div>
  <div class="timelineitem">
    <div class="tdate">2014 - 2015</div>
    <h3 class="ttitle">Sabre Autonomous Solutions: Engineer</h3>
    <div class="tdesc">Software for an autonomous grit-blasting robot.</div>
  </div>
  <div class="timelineitem">
    <div class="tdate">2013 - 2015</div>
    <h3 class="ttitle">FrameFish: Flounder</h3>
    <div class="tdesc">Virtual try-on software for glasses and sunglasses.</div>
  </div>
  <div class="timelineitem">
    <div class="tdate">2009 - 2012</div>
    <h3 class="ttitle">University of NSW</h3>
    <div class="tdesc">Bachelor of Engineering (Computer)</div>
  </div>
  <div class="timelineitem">
   <div class="tdate">2005 - 2009</div>
    <h3 class="ttitle">Credit Suisse: Equities Analyst</h3>
    <div class="tdesc">Providing recommendations and research to institutional investors.</div>
  </div>
  <div class="timelineitem">
    <div class="tdate">2000 - 2004</div>
    <h3 class="ttitle">University of Sydney</h3>
    <div class="tdesc">Bachelor of Commerce (Finance & Economics)</div>
  </div>
</div>
